.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    cursor: pointer;
}
